article {
    max-width: 80ch;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px grey solid;
    border-radius: .2rem; 
    p {
        margin-top: .7rem;
    }
    h1, h2, h3, h4, h5, h6 {
        margin: .7rem 0 .7rem 0;
        text-align: center;
        font-size: var(--font-size-xxxl);
        line-height: var(--line-height-xxxl);
    }
}
