header {
    position: relative;
    text-align: right;
    height: $header-height;
    line-height: $header-height;
    nav {
        margin: 0;
        padding: 0;
        border: 0;
        display: inline-block;
        &:first-child {
            font-size: var(--font-size-md);
            line-height: var(--line-height-md);
            display: block;
            left: 1.5rem;
            top: calc((var(--header-height) - var(--line-height-md)) / 2);
            position: absolute;
            text-align: left;
            .logo, .motto {
                display: inline-block;
            }
            .logo {
                background-image: url(img/logo.svg);
            }
            .motto {
                display: inline-block;
                margin-left: .5rem;
            }
        }
        &:last-child {
            margin-right: 1.5rem;
            white-space: nowrap;
            ul {
                display: inline-block;
                margin: 0;
                padding: 0;
                border: 0;
                li {
                    margin-right: 1rem;
                    display: inline-block;
                }
            }

            @media screen and (min-width: calc(#{$burger-bp} + 1px)) {
                .links {display: inline-block;}                    
                .burger {display: none;}
            }

            @media screen and (max-width: #{$burger-bp}) {
                .burger {display: inline-block;}                    
                .links {
                    display: none;
                    position: absolute; 
                    right: 0; 
                    top: 0; 
                    width: 240px; 
                    border: 2px solid silver;
                    margin: .5rem;
                    padding: .5rem;
                    border-radius: 1rem;
                    text-align: left;
                    background-color: white;
                    opacity: .9;
                    li {
                        display: block;
                        margin-left: 70px;
                    }
                }
            }
        }
    }
}
