@use 'sass:list';

@mixin icon-size ($size) {
    width: var(--icon-width-#{$size});
    height: var(--icon-height-#{$size});
}

.bi.check  { background-image: url(icons/bi-check.svg) }
.bi.image  { background-image: url(icons/bi-image.svg) }
.bi.github { background-image: url(icons/bi-github.svg) }
.bi.list   { background-image: url(icons/bi-list.svg) }
.bi.x-lg   { background-image: url(icons/bi-x-lg.svg) }
.bi.file-earmark-check { background-image: url(icons/bi-file-earmark-check.svg) }
.bi.one-two-three { background-image: url(icons/bi-123.svg) }
.bi.alt { background-image: url(icons/bi-alt.svg) }
.bi.arrows-fullscreen { background-image: url(icons/bi-arrows-fullscreen.svg) }

%icon {
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat;
    background-size: contain;
    content: ''
}

.bi, .logo {
    @extend %icon;
}

@for $i from 1 through length($type-steps) {
    $step: list.nth($type-steps, $i);
    .text-#{$step} .bi, .bi.#{$step} {
        @include icon-size(#{$step})
    }
}

.bi {
    @include icon-size("base");    
}
