.text-sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}

.text-base {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}

.text-md {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
}

.text-lg {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
}

.text-xl {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
}

.text-xxl {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
}

.text-xxxl {
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-xxxl);
}
