doctype
html(lang="ru")
    include ../components/head
    body
        include ../components/header
        main
            include ../components/figure
            +figure('hero')
        include ../components/footer
