- var imageSrc = fn => `/assets/images/${fn}.svg`

mixin figure(fileName)
    .figure-holder
        figure
            img(src=imageSrc(fileName))
            figcaption
                if fileName === 'hero'
                    a(href="https://www.freepik.com/free-vector/happy-freelancer-with-computer-home-young-man-sitting-armchair-using-laptop-chatting-online-smiling-vector-illustration-distance-work-online-learning-freelance_10172825.htm#query=man%20smiling&position=15&from_view=keyword" target="_blank") Image by pch.vector
                else
                    span Ошибка #{status || 404}.&nbsp;
                    span #{message || 'Страница не найдена.'}
