header
    #brand
        a(href="/") #{motto || title}
    #burger
    #links 
        .link 
            a.bi.x(href="#" title="Закрыть") 
        .link 
            a.bi.file-earmark-check(href="/eula") EULA
        .link 
            a.bi.image(href="/icons") Иконки
        .link 
            a.bi.clock(href="/funny") Часы
        .link 
            a.bi.github(href="https://github.com/yababay/vite-vanilla-tailwind-svg") Github
    include ../components/burger
