header
    menu
        a(href="/")
            .logo.icon
            .motto  #{motto}
    menu
        ul
            li
                .bi.file-earmark-check
                a(href="/eula") EULA
            li
                .bi.image
                a(href="/icons") Иконки
            li
                .bi.github
                a(href="https://github.com/yababay/vite-vanilla-tailwind-svg" target="_blank") Github

//    a(href="#menu-show")
//        <i class="bi list burger"></i>
