main
    article
        h1 Примеры оформления

        p.text-sm Lorem ipsum dolor sit amet consectetur
        p Lorem ipsum dolor sit amet consectetur
        p.text-base Lorem ipsum dolor sit amet consectetur
        p.text-md Lorem ipsum dolor sit amet consectetur
        p.text-lg Lorem ipsum dolor sit amet consectetur
        p.text-xl Lorem ipsum dolor sit amet consectetur
        p.text-xxl Lorem ipsum dolor sit amet consectetur
        p.text-xxxl Lorem ipsum dolor sit amet consectetur

//
        p(class="text-xs")
            <i class="bi check"></i>
            span Lorem ipsum dolor sit amet consectetur
        p.text-sm   
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-base 
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-lg   
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-xl   
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-2xl  
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-3xl  
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-4xl  
            <i class="bi check"></i>Lorem ipsum dolor sit amet consectetur</p>
        p.text-5xl  
            <i class="bi check"></i>Lorem ipsum dolor amet</p>
        p.text-6xl  
            <i class="bi check"></i>Lorem ipsum dolor</p>
        p.text-7xl  
            <i class="bi check"></i>Lorem ipsum dolor</p>
        p.text-8xl  
            <i class="bi check"></i>Lorem ipsum</p>
        p(class="text-9xl")  
            <i class="bi check"></i>Lorem</p>

