$figcaption-height: var(--font-size-base);

$figure-margin: calc(var(--font-size-base) / 2);
$figure-height-landscape: calc(var(--main-min-height) - #{$figure-margin} * 2);  
$figure-width-landscape: calc(#{$figure-height-landscape} - #{$figcaption-height});  

$figure-width-portrait: calc(100vw - #{$figure-margin});  
$figure-height-portrait: calc(#{$figure-width-portrait} + #{$figcaption-height});  

.figure-holder {
    min-height: var(--main-min-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

figure, figure img, figcaption, figcaption a {
    margin: 0 auto;
    padding: 0;
    border: 0;
}

figure img {
    width: 100%;
    height: 100%;
}

figcaption, figcaption a {
    text-align: center;
    height: #{$figcaption-height};
    line-height: #{$figcaption-height};
    font-size: smaller;
    vertical-align: middle;
}

@media (orientation: landscape) {
    figure {
        height: #{$figure-height-landscape};
        width:  #{$figure-width-landscape};
        img {
            width:  #{$figure-width-landscape};
            height: auto;
        }
    }
}

@media (orientation: portrait) {
    figure {
        height: #{$figure-height-portrait};
        width:  #{$figure-width-portrait};
        img {
            width:  #{$figure-width-portrait};
            height: auto;
        }
    }
}
